<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link rel="icon" href="/pics/node.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> use this site to get your weather </p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="m1" ></p>
        <p id="m2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>